/* line 5, /development/PV/app/assets/stylesheets/application.scss */
.menu {
  background-color: transparent !important;
  color: #fff;
}
/* line 8, /development/PV/app/assets/stylesheets/application.scss */
.menu a {
  color: #fff !important;
  font-weight: 500;
}

/* line 14, /development/PV/app/assets/stylesheets/application.scss */
.padd-left {
  margin-left: 50px;
}

/* line 20, /development/PV/app/assets/stylesheets/application.scss */
.footer-back {
  background-color: #EBEBEE !important;
}

/* line 24, /development/PV/app/assets/stylesheets/application.scss */
.row {
  margin-top: 20px;
}

/* line 28, /development/PV/app/assets/stylesheets/application.scss */
.no-margin {
  margin: 0px;
}

/* line 32, /development/PV/app/assets/stylesheets/application.scss */
footer {
  background-color: #EBEBEE !important;
}
/* line 34, /development/PV/app/assets/stylesheets/application.scss */
footer li {
  color: #000 !important;
}
/* line 38, /development/PV/app/assets/stylesheets/application.scss */
footer .menu {
  background-color: #EBEBEE !important;
}
/* line 40, /development/PV/app/assets/stylesheets/application.scss */
footer .menu a {
  color: #000 !important;
}

/* line 53, /development/PV/app/assets/stylesheets/application.scss */
.lower-m li a {
  color: #fff !important;
}

/* line 59, /development/PV/app/assets/stylesheets/application.scss */
.fullWidth {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  max-width: initial;
}

/* line 68, /development/PV/app/assets/stylesheets/application.scss */
.doggy {
  background-image: url(/assets/doggy.jpg);
  height: 600px;
  background-size: cover;
}

/* line 74, /development/PV/app/assets/stylesheets/application.scss */
.doggy-side {
  background-color: #525e4e;
  height: 600px;
  color: #fff;
  font-weight: 300;
  padding: 90px;
  padding-top: 140px;
}

/* line 82, /development/PV/app/assets/stylesheets/application.scss */
.bottom-hp {
  background-image: url(/assets/street.jpg);
  height: 600px;
  background-size: cover;
}

/* line 88, /development/PV/app/assets/stylesheets/application.scss */
.callout.large {
  padding: 0rem;
}

/* line 93, /development/PV/app/assets/stylesheets/application.scss */
.top-bar-right .button {
  margin-top: 30px;
}

/* line 99, /development/PV/app/assets/stylesheets/application.scss */
.button {
  background-color: #687819;
}
/* line 101, /development/PV/app/assets/stylesheets/application.scss */
.button.clear {
  background: transparent;
  border: 1px solid #fff;
}

/* line 107, /development/PV/app/assets/stylesheets/application.scss */
.dropdown.menu .has-submenu.is-down-arrow > a::after {
  border-color: #687819 transparent transparent;
}

/* line 116, /development/PV/app/assets/stylesheets/application.scss */
.callout {
  min-height: 530px;
  border: 0px;
}
/* line 118, /development/PV/app/assets/stylesheets/application.scss */
.callout.primary {
  background-image: url("/assets/leopard.jpg");
  margin-top: -20px;
}
/* line 121, /development/PV/app/assets/stylesheets/application.scss */
.callout.primary a {
  color: transparent;
}

/* line 135, /development/PV/app/assets/stylesheets/application.scss */
.menu-text {
  color: #fff;
  font-size: 11px;
}

/* line 144, /development/PV/app/assets/stylesheets/application.scss */
#content {
  margin-top: 50px;
}

/* line 154, /development/PV/app/assets/stylesheets/application.scss */
.menu-text {
  color: #fff;
}

@media only screen and (max-width: 40em) {
  /* line 171, /development/PV/app/assets/stylesheets/application.scss */
  .top-bar {
    display: none;
  }
}
/* line 206, /development/PV/app/assets/stylesheets/application.scss */
.max-width {
  max-width: 100rem !important;
}

@media (max-aspect-ratio: 16 / 9) {
  /* line 220, /development/PV/app/assets/stylesheets/application.scss */
  .fullscreen-bg__video {
    width: auto;
    height: 160%;
    margin-top: -60px;
  }
}
/* line 229, /development/PV/app/assets/stylesheets/application.scss */
.shim-top.sm {
  margin-top: 10px;
}

/* line 233, /development/PV/app/assets/stylesheets/application.scss */
.main-hp {
  height: 350px !important;
  overflow: hidden;
}
/* line 238, /development/PV/app/assets/stylesheets/application.scss */
.main-hp .callout {
  min-height: 0px;
}
/* line 245, /development/PV/app/assets/stylesheets/application.scss */
.main-hp .callout p {
  height: 130px;
  width: 100%;
  color: #fff;
  padding: 30px;
}
/* line 252, /development/PV/app/assets/stylesheets/application.scss */
.main-hp .callout p .title {
  color: #fff;
}
/* line 256, /development/PV/app/assets/stylesheets/application.scss */
.main-hp .callout p.lead {
  font-size: 140% !important;
  border-bottom: 1px solid #000 !important;
}
/* line 263, /development/PV/app/assets/stylesheets/application.scss */
.main-hp .secondary {
  margin-top: 100px;
  opacity: .8;
}

/* line 271, /development/PV/app/assets/stylesheets/application.scss */
.top-bar {
  background-color: transparent !important;
}

/* line 274, /development/PV/app/assets/stylesheets/application.scss */
footer {
  margin-top: -20px;
}
/* line 276, /development/PV/app/assets/stylesheets/application.scss */
footer .callout {
  min-height: 0px;
}

/* line 287, /development/PV/app/assets/stylesheets/application.scss */
.callout.newsletter {
  height: 60px !important;
  min-height: 0px;
}
/* line 291, /development/PV/app/assets/stylesheets/application.scss */
.callout.donors {
  min-height: 0px;
  height: 200px !important;
}

/* line 298, /development/PV/app/assets/stylesheets/application.scss */
.shim-top {
  margin-top: 10px;
}

/* line 302, /development/PV/app/assets/stylesheets/application.scss */
.padd-it {
  margin: 20px;
}

/* line 306, /development/PV/app/assets/stylesheets/application.scss */
.center-it {
  text-align: center;
}

/* line 311, /development/PV/app/assets/stylesheets/application.scss */
.accord li {
  border-bottom: 1px solid #ccc;
  margin-bottom: 5px;
  margin-top: 5px;
  font-size: 11px;
}

/* line 323, /development/PV/app/assets/stylesheets/application.scss */
.dropdown.menu .submenu {
  border: 0px solid #000 !important;
  background-color: rgba(0, 0, 0, 0.9) !important;
  color: #fff !important;
}

/* line 330, /development/PV/app/assets/stylesheets/application.scss */
.f-dropdown {
  outline: none !important;
}

/* line 334, /development/PV/app/assets/stylesheets/application.scss */
.tabs dd > a, .tabs .tab-title > a {
  outline: none !important;
}
