/* ==========================================================================
   Media Query Variables
   ==========================================================================
*/
/* % Media Query mixin

--- USAGE ---

  @include mg(sm);
  @include mg(md);
  @include mg(lg);
  @include mg(xl);
  @include mg(jumbo);

--------------
% */
/* line 77, /development/vets/app/assets/stylesheets/application.scss */
.medium-12 img {
  box-shadow: 4px 4px 4px;
}

/* line 82, /development/vets/app/assets/stylesheets/application.scss */
#filtersubmit {
  position: relative;
  z-index: 1;
  left: -25px;
  top: 1px;
  color: #7B7B7B;
  cursor: pointer;
  width: 0;
}

/* line 93, /development/vets/app/assets/stylesheets/application.scss */
.menu {
  background-color: transparent !important;
  color: #fff;
}
/* line 96, /development/vets/app/assets/stylesheets/application.scss */
.menu a {
  color: #fff !important;
  font-weight: 500;
}

/* line 102, /development/vets/app/assets/stylesheets/application.scss */
.padd-left {
  margin-left: 50px;
}

/* line 108, /development/vets/app/assets/stylesheets/application.scss */
.footer-back {
  background-color: #EBEBEE !important;
}

/* line 112, /development/vets/app/assets/stylesheets/application.scss */
.row {
  margin-top: 20px;
}

/* line 116, /development/vets/app/assets/stylesheets/application.scss */
.no-margin {
  margin: 0px;
}

/* line 120, /development/vets/app/assets/stylesheets/application.scss */
footer {
  background-color: #EBEBEE !important;
}
/* line 122, /development/vets/app/assets/stylesheets/application.scss */
footer li {
  color: #000 !important;
}
/* line 126, /development/vets/app/assets/stylesheets/application.scss */
footer .menu {
  background-color: #EBEBEE !important;
}
/* line 128, /development/vets/app/assets/stylesheets/application.scss */
footer .menu a {
  color: #000 !important;
}

/* line 141, /development/vets/app/assets/stylesheets/application.scss */
.lower-m li a {
  color: #fff !important;
}

/* line 147, /development/vets/app/assets/stylesheets/application.scss */
.fullWidth {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  max-width: initial;
}

/* line 154, /development/vets/app/assets/stylesheets/application.scss */
.green {
  color: green;
}

/* line 158, /development/vets/app/assets/stylesheets/application.scss */
.red {
  color: red;
}

/* line 164, /development/vets/app/assets/stylesheets/application.scss */
.doggy {
  background-color: #E6E9E5;
  height: 400px;
  background-size: cover;
  margin: 0 auto;
}
@media only screen and (min-width: 768px) and (max-width: 992px) {
  /* line 164, /development/vets/app/assets/stylesheets/application.scss */
  .doggy {
    height: 300px;
  }
}
@media only screen and (min-width: 640px) and (max-width: 767px) {
  /* line 164, /development/vets/app/assets/stylesheets/application.scss */
  .doggy {
    height: 300px;
  }
}
@media only screen and (min-width: 0px) and (max-width: 639px) {
  /* line 164, /development/vets/app/assets/stylesheets/application.scss */
  .doggy {
    height: 375px;
  }
}
@media only screen and (min-width: 768px) and (max-width: 992px) {
  /* line 164, /development/vets/app/assets/stylesheets/application.scss */
  .doggy {
    height: 375px;
  }
}

/* line 184, /development/vets/app/assets/stylesheets/application.scss */
.newsletter-hp {
  margin-top: 250px;
}
@media only screen and (min-width: 993px) and (max-width: 1200px) {
  /* line 184, /development/vets/app/assets/stylesheets/application.scss */
  .newsletter-hp {
    margin-top: 180px;
  }
}
@media only screen and (min-width: 768px) and (max-width: 992px) {
  /* line 184, /development/vets/app/assets/stylesheets/application.scss */
  .newsletter-hp {
    margin-top: 150px;
  }
}
@media only screen and (min-width: 640px) and (max-width: 767px) {
  /* line 184, /development/vets/app/assets/stylesheets/application.scss */
  .newsletter-hp {
    margin-top: 100px;
  }
}
@media only screen and (min-width: 0px) and (max-width: 639px) {
  /* line 184, /development/vets/app/assets/stylesheets/application.scss */
  .newsletter-hp {
    margin-top: 180px;
    width: 100%;
  }
  /* line 198, /development/vets/app/assets/stylesheets/application.scss */
  .newsletter-hp .main-entry {
    width: 100% !important;
  }
}

/* line 204, /development/vets/app/assets/stylesheets/application.scss */
.doggy-side {
  background-color: #525e4e;
  height: 400px;
  color: #fff;
  font-weight: 300;
  padding: 90px;
  padding-top: 100px;
}
@media only screen and (min-width: 0px) and (max-width: 639px) {
  /* line 204, /development/vets/app/assets/stylesheets/application.scss */
  .doggy-side {
    padding: 25px;
    height: 200px;
  }
  /* line 214, /development/vets/app/assets/stylesheets/application.scss */
  .doggy-side h4 {
    font-size: 14px;
  }
  /* line 217, /development/vets/app/assets/stylesheets/application.scss */
  .doggy-side p {
    font-size: 12px;
  }
}
@media only screen and (min-width: 640px) and (max-width: 767px) {
  /* line 204, /development/vets/app/assets/stylesheets/application.scss */
  .doggy-side {
    padding-top: 30px;
  }
}
@media only screen and (min-width: 993px) and (max-width: 1200px) {
  /* line 204, /development/vets/app/assets/stylesheets/application.scss */
  .doggy-side {
    padding-top: 40px;
  }
  /* line 229, /development/vets/app/assets/stylesheets/application.scss */
  .doggy-side h4 {
    font-size: 20px;
  }
}
@media only screen and (min-width: 768px) and (max-width: 992px) {
  /* line 204, /development/vets/app/assets/stylesheets/application.scss */
  .doggy-side {
    padding-top: 50px;
    height: 300px;
  }
  /* line 235, /development/vets/app/assets/stylesheets/application.scss */
  .doggy-side h4 {
    font-size: 16px;
  }
  /* line 238, /development/vets/app/assets/stylesheets/application.scss */
  .doggy-side p {
    font-size: 12px;
  }
}

/* line 244, /development/vets/app/assets/stylesheets/application.scss */
.bottom-hp {
  background-image: url(/assets/street2.jpg);
  height: 400px;
  background-size: cover;
}

/* line 250, /development/vets/app/assets/stylesheets/application.scss */
.callout.large {
  padding: 0rem;
}

/* line 255, /development/vets/app/assets/stylesheets/application.scss */
.top-bar-right .button {
  margin-top: 30px;
}

/* line 261, /development/vets/app/assets/stylesheets/application.scss */
.button {
  background-color: #687819;
}
/* line 263, /development/vets/app/assets/stylesheets/application.scss */
.button.clear {
  background: transparent;
  border: 1px solid #fff;
}

/* line 269, /development/vets/app/assets/stylesheets/application.scss */
.dropdown.menu .has-submenu.is-down-arrow > a::after {
  border-color: #687819 transparent transparent;
}

/* line 278, /development/vets/app/assets/stylesheets/application.scss */
.callout {
  border: 0px;
}
/* line 280, /development/vets/app/assets/stylesheets/application.scss */
.callout.primary {
  background-image: url("/assets/lion-main.jpg");
  background-size: 100%;
  background-repeat: no-repeat;
  margin-top: -20px;
  min-height: 500px;
  height: 650px;
}
/* line 287, /development/vets/app/assets/stylesheets/application.scss */
.callout.primary a {
  color: transparent;
}

/* line 299, /development/vets/app/assets/stylesheets/application.scss */
.callout.primary {
  background-color: transparent !important;
}

/* line 306, /development/vets/app/assets/stylesheets/application.scss */
.menu-text {
  color: #fff;
  font-size: 11px;
}

/* line 315, /development/vets/app/assets/stylesheets/application.scss */
#content {
  margin-top: 50px;
}

/* line 325, /development/vets/app/assets/stylesheets/application.scss */
.menu-text {
  color: #fff;
}

@media only screen and (max-width: 40em) {
  /* line 342, /development/vets/app/assets/stylesheets/application.scss */
  .top-bar {
    display: none;
  }
}
/* line 377, /development/vets/app/assets/stylesheets/application.scss */
.max-width {
  max-width: 100rem !important;
}

@media (max-aspect-ratio: 16 / 9) {
  /* line 391, /development/vets/app/assets/stylesheets/application.scss */
  .fullscreen-bg__video {
    width: auto;
    height: 160%;
    margin-top: -60px;
  }
}
/* line 400, /development/vets/app/assets/stylesheets/application.scss */
.shim-top.sm {
  margin-top: 10px;
}
/* line 403, /development/vets/app/assets/stylesheets/application.scss */
.shim-top.large {
  margin-top: 30px;
}

/* line 407, /development/vets/app/assets/stylesheets/application.scss */
.main-hp {
  height: 350px !important;
  overflow: hidden;
}
/* line 412, /development/vets/app/assets/stylesheets/application.scss */
.main-hp .callout {
  min-height: 0px;
}
/* line 419, /development/vets/app/assets/stylesheets/application.scss */
.main-hp .callout p {
  height: 130px;
  width: 100%;
  color: #fff;
  padding: 30px;
}
/* line 426, /development/vets/app/assets/stylesheets/application.scss */
.main-hp .callout p .title {
  color: #fff;
}
/* line 430, /development/vets/app/assets/stylesheets/application.scss */
.main-hp .callout p.lead {
  font-size: 140% !important;
  border-bottom: 1px solid #000 !important;
}
/* line 437, /development/vets/app/assets/stylesheets/application.scss */
.main-hp .secondary {
  margin-top: 100px;
  opacity: .8;
}

/* line 445, /development/vets/app/assets/stylesheets/application.scss */
.top-bar {
  background-color: transparent !important;
}

/* line 448, /development/vets/app/assets/stylesheets/application.scss */
footer {
  margin-top: -20px;
}
/* line 450, /development/vets/app/assets/stylesheets/application.scss */
footer .callout {
  min-height: 0px;
}

/* line 461, /development/vets/app/assets/stylesheets/application.scss */
.callout.newsletter {
  height: 60px !important;
  min-height: 0px;
}
/* line 465, /development/vets/app/assets/stylesheets/application.scss */
.callout.donors {
  min-height: 0px;
  height: 200px !important;
}

/* line 472, /development/vets/app/assets/stylesheets/application.scss */
.shim-top {
  margin-top: 10px;
}

/* line 476, /development/vets/app/assets/stylesheets/application.scss */
.padd-it {
  margin: 20px;
}

/* line 480, /development/vets/app/assets/stylesheets/application.scss */
.center-it {
  text-align: center;
}

/* line 485, /development/vets/app/assets/stylesheets/application.scss */
.accord li {
  border-bottom: 1px solid #ccc;
  margin-bottom: 5px;
  margin-top: 5px;
  font-size: 11px;
}

/* line 497, /development/vets/app/assets/stylesheets/application.scss */
.dropdown.menu .submenu {
  border: 0px solid #000 !important;
  background-color: rgba(0, 0, 0, 0.5) !important;
  color: #fff !important;
  font-size: 12px;
}
/* line 502, /development/vets/app/assets/stylesheets/application.scss */
.dropdown.menu .submenu li {
  margin-top: -5px;
}

/* line 508, /development/vets/app/assets/stylesheets/application.scss */
.f-dropdown {
  outline: none !important;
}

/* line 512, /development/vets/app/assets/stylesheets/application.scss */
.tabs dd > a, .tabs .tab-title > a {
  outline: none !important;
}

/* line 515, /development/vets/app/assets/stylesheets/application.scss */
:focus {
  outline: -webkit-focus-ring-color auto 0px;
}

/* line 519, /development/vets/app/assets/stylesheets/application.scss */
.is-dropdown-submenu {
  margin-top: -30px;
}

@media only screen and (min-width: 640px) and (max-width: 767px) {
  /* line 523, /development/vets/app/assets/stylesheets/application.scss */
  .callout.primary {
    height: 0px;
    background-size: 105%;
  }
}
@media only screen and (min-width: 0px) and (max-width: 639px) {
  /* line 523, /development/vets/app/assets/stylesheets/application.scss */
  .callout.primary {
    height: 0px;
    background-size: 125%;
  }
}
@media only screen and (min-width: 768px) and (max-width: 992px) {
  /* line 523, /development/vets/app/assets/stylesheets/application.scss */
  .callout.primary {
    height: 100px;
  }
}
@media only screen and (min-width: 993px) and (max-width: 1200px) {
  /* line 523, /development/vets/app/assets/stylesheets/application.scss */
  .callout.primary {
    height: 200px;
  }
}
