%footer
  .row.expanded.callout.secondary
    .small-6.large-3.columns
      %p
        %img{src:"/assets/footer_logo.png", style:"width:105%;"}
      %p{style:"text-align: center;"}
        / Go to www.addthis.com/dashboard to customize your tools
        %span.st_sharethis_large{:displayText => "ShareThis"}
        %span.st_facebook_large{:displayText => "Facebook"}
        %span.st_twitter_large{:displayText => "Tweet"}
        %span.st_linkedin_large{:displayText => "LinkedIn"}
        %span.st_pinterest_large{:displayText => "Pinterest"}
        %span.st_email_large{:displayText => "Email"}


    .small-6.large-3.columns

      %ul.menu.vertical
        %li
          %a{:href => "#"} Home
        %li
          %a{:href => "#"} Who we are
        %li
          %a{:href => "#"} How you can help
        %li
          %a{:href => "#"} Our Recipients
        %li
          %a{:href => "#"} Contact Us
    .small-6.large-3.columns
      %p.lead Contact
      %ul.menu.vertical
        %li
          303-819-2501
          %br
          %br


        %li
          info@projectvets.org
          %br
          %br

        %li
          1630A 30th Street, #256
          %br
          Boulder, CO 80301
    .small-6.large-3.columns.hide-for-small-only
      %p.lead Shop
      %ul.menu.vertical
        %li
          Come and shop for a cause! Each purchase goes toward helping us to collect veterinary supplies and ship them to veterinarians worldwide who are working tirelessly to improve animal health and welfare.

        %li
          .row.column.shim-top
            .medium-6.columns
              %ul
                %li Bags & Wallets
                %li Drinkware
                %li Pets
            .medium-6.columns
              %ul
                %li Men's Shirts
                %li Women's Shirts
                %li Babu
          .row.column.shim-top
            .medium-12.columns
              %a.btn.btn-default{:href => "http://cafepress.com/projectvets", :role => "button", target:"blank"} Go!

  .row
    .medium-6.columns
      %ul.menu
        %li
          Project V.E.T.S.




    .medium-6.columns
      %ul.menu.float-right
        %li.menu-text Copyright 2016 - All Rights Reserved

%script{:src => "http://dhbhdrzi4tiry.cloudfront.net/cdn/sites/foundation.js"}


:javascript
  $(document).foundation();
