%footer
  .row.expanded.callout.secondary
    .small-6.large-3.columns
      %p
        %img{src:"/assets/footer_logo.png", style:"width:90%;"}
      %p{style:"text-align: center;"}
        / Go to www.addthis.com/dashboard to customize your tools
        %span.st_sharethis_large{:displayText => "ShareThis"}
        %span.st_facebook_large{:displayText => "Facebook"}
        %span.st_twitter_large{:displayText => "Tweet"}
        %span.st_linkedin_large{:displayText => "LinkedIn"}
        %span.st_pinterest_large{:displayText => "Pinterest"}
        %span.st_email_large{:displayText => "Email"}


    .small-6.large-3.columns

      %ul.menu.vertical
        %li
          %a{:href => "#"} Home
        %li
          %a{:href => "#"} Who we are
        %li
          %a{:href => "#"} How you can help
        %li
          %a{:href => "#"} Our Recipients
        %li
          %a{:href => "#"} Contact Us
    .small-6.large-3.columns
      %p.lead Contact
      %ul.menu.vertical
        %li
          303-819-2501
          %br
          %br


        %li
          info@projectvets.org
          %br
          %br

        %li
          1630A 30th Street, #256
          %br
          Boulder, CO 80301
    .small-6.large-3.columns.hide-for-small-only
      -# %p.lead Shop
      %ul.menu.vertical

        %li
          %input{placeholder:"Search...",style:"width:95%;border: 1px solid #ccc;line-height: 30px;margin-top: 14px;margin-bottom:5px;"}


          .button{style:"float:right;"}
            Search


      .row
        .medium-12.columns
          -# =image_tag("apexx-logo-small-transparent.png")
          %img{src:"/assets/apexx-logo-small-transparent.png", style:"width:40%;"}
          %img{src:"/assets/PSI_Logo_Final6_SM.jpg", style:"width:40%;"}
          %img{src:"/assets/spo6.jpg", style:"width:40%;"}
          %img{src:"/assets/zoetis.jpg", style:"width:40%;"}


  .row.footer-back
    .medium-4.columns
    .medium-4.columns
      %ul.menu
        %li.menu-text
          Project V.E.T.S. Copyright 2016 - All Rights Reserved

    .medium-4.columns


    -# .medium-6.columns


%script{:src => "https://dhbhdrzi4tiry.cloudfront.net/cdn/sites/foundation.js"}


:javascript
  $(document).foundation();
