%footer
  .row.expanded.callout.secondary
    .small-6.large-3.columns
      %p
        %img{src:"/assets/top-logo-v3.png", style:"width:90%;"}
      %p{style:"text-align: center;"}
        / Go to www.addthis.com/dashboard to customize your tools
        %span.st_sharethis_large{:displayText => "ShareThis"}
        %span.st_facebook_large{:displayText => "Facebook"}
        %span.st_twitter_large{:displayText => "Tweet"}
        %span.st_linkedin_large{:displayText => "LinkedIn"}
        %span.st_pinterest_large{:displayText => "Pinterest"}
        %span.st_email_large{:displayText => "Email"}
      %ul.menu{style:"text-align: center;"}
        %li.menu-text
          Project V.E.T.S. Copyright 2016 - All Rights Reserved


    .small-6.large-3.columns

      %ul.menu.vertical
        %li
          %a{:href => "/mission"} About Us
        %li
          %a{:href => "/donations"} Help
        %li
          %a{:href => "/by-name"} Recipients
        %li
          %a{:href => "/contact"} Contact

    .small-6.large-3.columns
      %p.lead Contact
      %ul.menu.vertical
        .row.small-up-1.medium-up-1.large-up-1
          .column{style:'color:#000;'}


            1630 A 30th Street, #256
            %br
              Boulder, CO 80301
              %br
                303-819-2501

                %br
                %a{:href => "mailto:info@projectvets.org"}
                  info@projectvets.org
            =image_tag('spo5')
    .small-6.large-3.columns.hide-for-small-only
      -# %p.lead Shop
      %ul.menu.vertical

        %li
          %input{placeholder:"Search...",style:"width:80%;border: 0px solid #ccc;line-height: 30px;margin-top: 14px;margin-bottom:5px;"}
          %i.fa.fa-search{id:"filtersubmit"}


      .row
        .medium-12.columns
          %h5
            Shop for Project V.E.T.S.
          %hr
          %p{style:"font-size:11px;"}
            Come and shop for a cause! Each purchase goes toward helping us to collect veterinary supplies and ship them to veterinarians worldwide who are working tirelessly to improve animal health and welfare.
          .button.large{:onclick=>"document.location='/donate';", style:"float:right;"}
            go!
        -# .medium-1.columns



    -# .medium-6.columns


%script{:src => "https://dhbhdrzi4tiry.cloudfront.net/cdn/sites/foundation.js"}


:javascript
  $(document).foundation();
