

.callout.large.primary
  =render '/shared/header'

  .row{style:"margin-top:250px;"}
    .medium-4.medium-centered.columns
      %div.text-center{style:"height:200px;width:400px;background-color: rgba(0,0,0,0.5);color: #fff;padding:15px;padding-top:45px;"}
        Please join our newsletter!
        %input{placeholder:"Enter Email",style:"width:80%;border: 1px solid #ccc;line-height: 30px;margin-top: 14px;margin-bottom:5px;background-color:transparent;"}

.row


  .small-12.medium-10.large-10.medium-centered.large-centered.columns{style:"text-align:justify;font-weight:500"}
    %p We are a 501(c)(3) organization dedicated to helping improve the health and welfare of animals around the globe. We achieve this goal by collecting veterinary equipment, technology and supplies (V.E.T.S.) from veterinary hospitals, veterinary colleges, zoological societies, human hospitals and medical equipment/supply manufacturers.


.row
  .small-12.medium-10.large-10.medium-centered.large-centered.columns
    .medium-4.columns.text-center
      %i.fa.fa-stethoscope.fa-2{style:"font-size:10rem;"}
      .row.columns
        %p Project V.E.T.S. is seeking your donations! We need veterinary/medical equipment and supplies, new or used, in good-to-excellent working condition. For those supplies that carry an expiration date, please contact us prior to shipping to see if we can accept them.
    .medium-4.columns.text-center
      %i.fa.fa-plane{style:"font-size:10rem;"}
      .row.columns
        %p We are an organization dedicated to helping improve the health and welfare of animals around the globe. We achieve this goal by collecting veterinary equipment, technology and supplies (V.E.T.S.) which we then donate to veterinarians worldwide working in animal related non-profits.
    .medium-4.columns.text-center
      %i.fa.fa-bar-chart{style:"font-size:10rem;"}
      .row.columns
        %p We are an organization dedicated to helping improve the health and welfare of animals around the globe. We achieve this goal by collecting veterinary equipment, technology and supplies (V.E.T.S.) which we then donate to veterinarians worldwide working in animal related non-profits.




.row.fullWidth
  .medium-6.columns.doggy

  .medium-6.columns.doggy-side
    .medium-12.columns.medium-centered
      %h2
        Conserve, Help, Donate

    .medium-10.columns.medium-centered
      %p
        We not only help the animals of our planet, but we also conserve valuable resources that might otherwise end up in someone’s storage facility or a landfill.
      .button.clear
        Learn more about us

.row.fullWidth.no-margin

  .medium-12.columns.bottom-hp.text-center
    .small-12.medium-8.large-8.medium-centered.large-centered.columns{style:"color:#fff;padding-top:50px;"}


      .medium-12.columns.medium-centered
        %h2{style:"font-weight:500;"}
          Help us on our road to supply the world
        .button.large{:onclick=>"document.location='/donate';"}
          Learn More




:javascript
  (function(d, s, id) {
  	var js, fjs = d.getElementsByTagName(s)[0];
  	if (d.getElementById(id)) return;
  	js = d.createElement(s); js.id = id;
  	js.src = "//connect.facebook.net/en_GB/all.js#xfbml=1";
  	fjs.parentNode.insertBefore(js, fjs);
  	}(document, 'script', 'facebook-jssdk'));

=render '/shared/footer'
