

.callout.large.primary
  =render '/shared/header'

  .row.newsletter-hp
    .medium-2.columns
      %p
    .medium-4.columns
      %p


      %form{method:"post", action:"/newsletter/signup", id:"newsletter_form"}
        %div.main-entry.text-center{style:"min-height:160px;width:350px;background-color: rgba(0,0,0,0.5);color: #fff;padding:15px;padding-top:25px;"}

          -if params["notice"].present?
            .green
              =params["notice"]
              %br
          -elsif params["alert"].present?
            .red
              =params["alert"]
              %br
          Please join our newsletter!

          %input.email_enter{placeholder:"Enter Email",style:"width:100%;border: 1px solid #ccc;line-height: 30px;margin-top: 5px;margin-bottom:5px;background-color:transparent;", name:"email"}
          .hide.captcha
            =recaptcha_tags
          %br

          .fa.fa-envelope.fa-4{style:"font-size:2rem;"}
    .medium-6.columns


.row
  .small-12.medium-12.large-10.medium-centered.large-centered.columns
    .medium-4.columns.text-center
      %h2
        Donate
      %a{:href => "/donate-equipment", style:"color: #000;"}
        %i.fa.fa-stethoscope.fa-2{style:"font-size:10rem;"}
      .row.columns
        -# %p Project V.E.T.S. is seeking your donations! We need veterinary/medical equipment and supplies, new or used, in good-to-excellent working condition. For those supplies that carry an expiration date, please contact us prior to shipping to see if we can accept them.
        %p We accept donations of gently used and new veterinary/medical equipment, technology and supplies (V.E.T.S).  YOU can make a difference for animals in need by donating these items as well as monetary gifts to help support the cost to ship these items around the world.
        %a{:href => "/help"}
          Learn more
    .medium-4.columns.text-center
      %h2
        Distribute
      %a{:href => "/world-map", style: "color: #000;"}
        %i.fa.fa-plane{style:"font-size:10rem;"}
      .row.columns
        -# %p We are an organization dedicated to helping improve the health and welfare of animals around the globe. We achieve this goal by collecting veterinary equipment, technology and supplies (V.E.T.S.) which we then donate to veterinarians worldwide working in animal related non-profits.
        %p These V.E.T.S. donations are sent around world, and within the U.S., to 91 non-profits working hands-on with animals.  Animals in distress.  Animals in need of a loving home.  Animals on the brink of extinction.  Animals serving their communities.
        %a{:href => "/recipients"}
          Learn more
    .medium-4.columns.text-center
      %h2
        Heal
      -# %i.fa.fa-bar-chart{style:"font-size:10rem;"}
      =image_tag('bandaid', style:'width:10rem;box-shadow:0px 0px;')
      .row.columns
        -# %p We are an organization dedicated to helping improve the health and welfare of animals around the globe. We achieve this goal by collecting veterinary equipment, technology and supplies (V.E.T.S.) which we then donate to veterinarians worldwide working in animal related non-profits.
        %p In 2014, V.E.T.S. donations sent by Project V.E.T.S. assisted in over 89,000 sterilizations and more than 30,100 surgical and internal medicine cases.  Learn more about how your support has helped heal the planet, one animal at a time.
        %a{:href => "/reports"}
          Learn more

.row


  .small-12.medium-10.large-10.medium-centered.large-centered.columns{style:"text-align:center;font-weight:500;font-size:20px;"}
    %p We are a 501(c)(3) organization dedicated to helping improve the health and welfare of animals around the globe. We achieve this goal by collecting veterinary equipment, technology and supplies (V.E.T.S.) from veterinary hospitals, veterinary colleges, zoological societies, human hospitals and medical equipment/supply manufacturers.


.row.fullWidth
  .medium-6.columns.doggy
    .row
      .medium-2.columns
        %p
      .medium-8.columns
        - r = Random.rand(5)
        -if r==3
          -r=1

        =image_tag("spo#{r}", style:"width:100%;margin-top:12%;")
      .medium-2.columns
        %p
    .row
      .medium-8.columns

      .medium-4.columns.shim-top.large

  .medium-6.columns.doggy-side
    .medium-12.columns.medium-centered
      %h4
        Project V.E.T.S. is proud to partner with the following corporations and would like to thank them for their commitment to animals and their support of our work

    .medium-10.columns.medium-centered
      %p
        For more information about the Project V.E.T.S. Strategic Partner program,


        please contact us at
        %a{:href => "mailto:info@projectvets.org"}
          info@projectvets.org
        or 303-819-2501.
      -# .button.clear
      -#   Learn more about us

.row.fullWidth.no-margin

  .medium-12.columns.bottom-hp.text-center
    .small-12.medium-12.large-8.medium-centered.large-centered.columns{style:"color:#fff;padding-top:50px;"}


      .medium-12.columns.medium-centered
        %h2.road-text{style:"font-weight:500;"}
          Help us on our road to supply the world
        .button.large{:onclick=>"document.location='/donate';"}
          Learn More




:javascript
  (function(d, s, id) {
  	var js, fjs = d.getElementsByTagName(s)[0];
  	if (d.getElementById(id)) return;
  	js = d.createElement(s); js.id = id;
  	js.src = "//connect.facebook.net/en_GB/all.js#xfbml=1";
  	fjs.parentNode.insertBefore(js, fjs);
  	}(document, 'script', 'facebook-jssdk'));

=render '/shared/footer'
