


#content.row{style:"background-color:#fff;padding:20px;margin-bottom:20px;min-height:600px;"}
  .medium-12.columns
    .blog-post
      %h3{style:"margin-bottom:25px;"}
        Our Board

      %p
        #articlepxfontsize1
          %h5 Candy Sayles Brad, DVM: Founder, Executive Director
          %p
            %img{:alt => "May 31-Ele Walk (120)", :height => "263", :src => "/assets/May%2031-Ele%20Walk%20(120).jpeg", :style => "margin: 6px; border: 1px solid #000000; float: left;", :width => "175"} Candy lives in Boulder, Colorado with her husband, Louis, and cockapoo, Zabu. After practicing traditional and alternative small animal medicine for 25 years, 10 of which she co-owned Alpine Hospital for Animals in Boulder, she recently retired. Project V.E.T.S. has become her new passion and she is hoping that she can do her part to help people and animals worldwide through this organization.
          %p
            %br{:clear => "all"}/
          %h5 Claire Campbell: Director, Treasurer, Board Chair
          %p
            %img{:alt => "b2", :height => "150", :src => "/assets/b2.png", :style => "margin: 6px; border: 1px solid #000000; float: left;", :width => "200"} Claire brings years of conservation experience to Project V.E.T.S.. A former small business owner, she has also served on the boards of the Yellowstone Association and Greenwood Wildlife Rehabilitation Center. Claire and her husband live in Boulder, Colorado and spend several weeks a year at their home in South Africa. A wildlife photography enthusiast, she loves to travel to digitally “capture” the animals she is trying to help conserve.
          %p
            %br{:clear => "all"}/
          %h5 Jen Abram: Director
          %p
            %img{:alt => "Jen Abram website", :height => "143", :src => "/assets/Jen%20Abram%20website.jpg", :style => "margin: 6px; border: 1px solid #000000; float: left;", :width => "200"} Jen has spent the last decade in the animal health industry providing pharmaceuticals and business solutions to veterinarians. As a Strategic Account Manager with Pfizer Animal Health and now Zoetis, Jen’s role is to educate and partner with veterinarians to better the health of their patients and practice. Within Zoetis, Jen serves on the board of their Women’s Council and is the Chair of Women in Leadership. Zoetis is also a Strategic Partner to Project V.E.T.S. Jen resides in Denver with her husband and two children. A native of Chicago, Jen is grateful for the 300 days of sunshine and beautiful mountains of Colorado!
          %p
            %br{:clear => "all"}/
          %h5 Diane Brinkmann: Director
          %p
            %img{:alt => "b3", :height => "173", :src => "/assets/b3.png", :style => "margin: 6px; border: 1px solid #000000; float: left;", :width => "200"} A native of Colorado, Diane still resides in Boulder. Her background is in education, having been a public school teacher for 19 years, specializing in teaching children with visual impairment and blindness. &nbsp;Since retiring in 2001, her passion has shifted to conservation, the environment, wildlife and travel. Besides volunteering for Project V.E.T.S., she is also involved in saving the Black Tail Prairie Dog , bringing back the Black Footed Ferret and preserving the prairie eco-system.
          %p
            %br{:clear => "all"}/
          %h5 Mollie Fager: Director
          %p
            %img{:alt => "Mollie Fager website", :height => "134", :src => "/assets/Mollie%20Fager%20website.jpg", :style => "margin: 6px; border: 1px solid #000000; float: left;", :width => "200"} Mollie has spent her professional career in the non-profit realm, first as Director of Operations for the Colorado Chapter of The Nature Conservancy, followed by 3 1/2 years as the Executive Director for The Dairy Center for the Arts in Boulder, CO. Seven years ago she was recruited back to The Nature Conservancy exclusively to raise funds for the organization and continue her commitment to conservation. In 2013, she became their Senior Principal Gifts Officer, working with those individuals and corporations at the highest level of giving and sophisticated engagement in The Nature Conservancy’s work. Personally, Mollie has been actively involved in both the arts and nature. She pursues a passion for writing, with a specialty in poetry and short essay and has worked as an interpretive naturalist, wildland firefighter and Outward Bound instructor. When not trying to save the planet, Mollie lives in the quiet mountain town of Lyons, Colorado and enjoys spending time with her teenage children, Daniel and Ruthie, hiking with her Airedale terrier Scout, cooking gourmet meals with friends, gardening, cycling, and just about every other outdoor sport there is.
          %p
            %br{:clear => "all"}/
          %h5 Karen McCormick Perry, DVM: Director
          %p
            %img{:alt => "b5", :height => "234", :src => "/assets/b5.png", :style => "margin: 6px; border: 1px solid #000000; float: left;", :width => "175"} Karen has been a small animal veterinarian for 28 years. Having owned Alpine Hospital for Animals in Boulder, Colorado for 17 years, she recently sold the business and is now practicing traditional and alternative medicine on a relief basis. Karen, her husband and three wonderful daughters reside in Longmont, Colorado with their two golden retrievers. Besides volunteering for Project V.E.T.S., she also travels yearly with VIDAS to their sterilization/vaccination clinics in Mexico.
          %p
            %br{:clear => "all"}/



  -# .medium-3.columns.hide-for-small-only{"data-sticky-container" => ""}
  -#   .sticky{"data-anchor" => "content", "data-sticky" => ""}
  -#     %ul.accordion{"data-accordion" => "", "data-multi-expand"=>"true"}
  -#       %li.accordion-item.is-active
  -#         / The tab title needs role="tab", an href, a unique ID, and aria-controls.
  -#         %a#panel1d-heading.accordion-title{"aria-controls" => "panel1d", :href => "#panel1d", :role => "tab", style:"font-size:14px;"} How You Can Help
  -#         / The content pane needs an ID that matches the above href, role="tabpanel", data-tab-content, and aria-labelledby.
  -#         #panel1d.accordion-content{"aria-labelledby" => "panel1d-heading", "data-tab-content" => "", :role => "tabpanel"}
  -#           %ul.accord
  -#             %li
  -#               %a{:href => "/"}
  -#                 Monetary Donations
  -#             %li
  -#               %a{:href => "/"}
  -#                 Donate Equipment, Tech, or supplies
  -#             %li
  -#               %a{:href => "/"}
  -#                 Celebrations & memorials
  -#             %li
  -#               %a{:href => "/"}
  -#                 Volunteer
  -#             %li
  -#               %a{:href => "/"}
  -#                 Shop

        -# %li.accordion-item
        -#   / The tab title needs role="tab", an href, a unique ID, and aria-controls.
        -#   %a#panel1d-heading.accordion-title{"aria-controls" => "panel1d", :href => "#panel1d", :role => "tab", style:"font-size:14px;"} Sign up for our e-newsletter
        -#   / The content pane needs an ID that matches the above href, role="tabpanel", data-tab-content, and aria-labelledby.
        -#   #panel1d.accordion-content{"aria-labelledby" => "panel1d-heading", "data-tab-content" => "", :role => "tabpanel"}
        -#     %form
        -#       %input{:placeholder=>"Name"}
        -#       %br
        -#       %input{:placeholder=>"Email"}
        -#       %br
        -#       %a.btn.btn-default{:href => "#", :role => "button"} Submit







=render '/shared/footer'
