

#content.row{style:"background-color:#fff;padding:20px;margin-bottom:20px;min-height:600px;"}
  .medium-12.columns
    .blog-post
      %h3{style:"margin-bottom:25px;"}
        Celebration


      %p
        One of the easiest ways to celebrate the special people and animals in our lives is to give a gift in their name. Donations can be used to commemorate a special birthday, anniversary or other occasion. You can also honor the memory of a beloved person or pet with a monetary gift to Project V.E.TS., knowing that their spirit will live on in the lives of the animals helped around the globe.
      %p
        We also offer a Pet Memorial Program for veterinarians and veterinary hospitals. This program allows those involved to give a donation in memory of each of the special patients that have passed away the previous month. A memorial letter is sent to every patient's family. If you are a veterinarian and would like more information about our Pet Memorial Program, please Contact Us.

      %h4
        Pet Memorial Program


      %p
        %span{:style => "text-decoration: underline;"} January&nbsp;2016
      %p Left Hand Animal Hospital, Niwot, CO: "Maya" Van Noord, "Scamper" Zuckerman-Gillogly, "Eddie" Main, "Tasha" Boyce, "Jasper" Hinkelman-Smith, "Tie Dye" Sanders-DeJamaer, "Harbor" Wert, "Kush" Curran-Baumgartner, "Gizmo" Badgett
      %p
        %span{:style => "text-decoration: underline;"} December&nbsp;2015
      %p Alpine Hospital for Animals, Boulder, CO: "Oscar" McCorry, "Jake" Cleveland, "Houdini &amp; Jimmy" Robinson-Haberman, "Abby" Young, "Samson" Fenity, "Quincy" Cahill, "Fawn" Beitzel, "Tuk" Turkle, "Oscar" Brito, "Paquito" Morgan, "Cali" Ferrante, "Beau" Paranhos, "Wallace" Roseboom, "Nora" Evans, "Kuma" McKelvey, "Whiskey Lucille" Paulu, "Akira" Solomon
      %p Left Hand Animal Hospital, Niwot, CO: "Keo" Hampf, "Scully" Schwartz-Tennant, "Buttons" Schwartz-Tennant, "Flurry" Bever, "Eek" Borelli, "Sunny" Wegela, "Ian" Matsuda, "Tov" Galperin, "Lacey" Gault, "Hannah" Kuhns-Sayer
      %p
        \&nbsp;
        %span{:style => "text-decoration: underline;"}
          %span November&nbsp;2015
      %p Alpine Hospital for Animals, Boulder, CO: "Scooter" Van Kleek, "Abby" Berg, "Onyx" Hayes, "Via" Shaff, "Chloe" Kellow
      %p Left Hand Animal Hospital, Niwot, CO: "Kaia" Rosner-Higgs, "Austin" Huck, "Minnie Mae" Haugen, "Ivy" Sullivan, "Lexi" Prata, "Sasha" Fitzgibbons, "Maggy" Cobb, "Joe" Roweton, "Lucy" Summer, "Sadie" McAlister, "Jack" Carter-Pierce
      %p
        %span{:style => "text-decoration: underline;"}
          %span{:style => "text-decoration: underline;"} October&nbsp;2015
      %p Alpine Hospital for Animals, Boulder, CO: "Anna" Yearsley, "CJ" Schaedle, "Marley" Schmidt-Howe, "Blu" Myers-Knapp, "Pearl" MacArthur, "Maggie" Dubuisson, "Honey Bear" Kallstrom, "Maude" Stephenson, "Pee Wee" Chevalier, "G.G." Saidi, "Bailey" Aldinger
      %p Left Hand Animal Hospital, Niwot, CO: "Mindy" Walker, "Gus" Clute, "Ambrosius" Costain, "Baby Kitty" Jones, "Mabel" Collins, "Maia" Hasday, "Rusty" Bahlmann-Mortenson, "Raja" Kenney, "May" Iden
      %p
        %span{:style => "background-color: transparent;"}
        %span{:style => "color: #ff0000; font-size: 12pt;"}
          %strong In Celebration Of
      %p In honor of Martha Peterson by Cathy E., December 2015
      %p{:style => "text-align: left;"} Claire Campbell and George Bumann by Marguerite &amp; Tom D., September 2015
      %p{:style => "text-align: left;"} My Ralphie, Emily, Henry and Lila by Holly G., December 2014
      %p{:style => "text-align: left;"}
        Susan Blumenstock by Dave B., December 2014
        %strong
          %br/
      %p{:style => "text-align: left;"} Candy Sayles: "We appreciate the great work you are doing! But we still miss you! Marilyn and Jim R.", December 2014
      %p{:style => "text-align: left;"} Martha Lankton: "This is for you, Martha. In honor of fighting so hard the last year and coming out the other side. Project VETS will send a veterinarian somewhere on the globe a package from you so that your fierce devotion to animals will continue to do good, just as you do, every single day. We love you- Jillian, Sagan, Keats, Oso, Fain and Juneau."
      %p{:style => "text-align: left;"} "Louis &amp; Candy Brad, In honor of all the hard work you do to help the animals of the world. Love, Cuz Dorothy", December 2014
      %p{:style => "text-align: left;"} "Milo and Jude Mills' second birthday!" by Jen B., December 2014
      %p
        %span{:style => "color: #ff0000; font-size: 12pt;"}
          %strong In Memory Of
      %p In memory of Greg Kyde, Rosemary H., December 2015
      %p In memory of Sharon Polisky and her love of animals, Anonymous Donor, December 2015
      %p In memory of my mother, Virginia Rock, Carol F., November 2015
      %p In loving memory of Summer (Perry) - "Thank you for the joy you brought to many.&nbsp; You will be deeply missed." Jenni D., December 2014
      %p "Mr. Darcy" Rice: "Dear Maggie, I can't stop thinking about you and Mr. Darcy. He will always be in my heart. Lots of Love to you. Becca" December 2014
      %p "Tessa" and "Toby" by Jim T. and Karin S., December 2014
      %p{:style => "text-align: left;"}
        %span{:style => "color: #ff0000; font-size: 12pt;"}
          %strong Pet Memorial Program
      %p{:style => "background-color: #ffffff;"}
        %span{:style => "text-decoration: underline;"}
          %span September&nbsp;2015
      %p{:style => "background-color: #ffffff;"} Alpine Hospital for Animals, Boulder, CO: "Smudge" Zickerman, "Luck" Sinn-Penfold, "Zoey" Wade, "Itsy" Metchikoff, "Ravi" Olcott-Anson, "Augie" Jordan, "Babe" Huettel, "Pookie" Monson, "Marley" Neeley
      %p{:style => "background-color: #ffffff;"} Left Hand Animal Hospital, Niwot, CO: "Sunny" Sands, "Cher" Guitar, "Balu" Patterson, "Lucky" Biddle, "Spook" Ochis, "Gato" Shurtleff, "Toby" Baisley, "Tug" Neary, "Hannah" Dunn, "Spider" Noe
      %p{:style => "background-color: #ffffff;"}
        %span{:style => "text-decoration: underline;"}
          %span August&nbsp;2015
      %p{:style => "background-color: #ffffff;"} Alpine Hospital for Animals, Boulder, CO: "Sassy" Vandemark, "Elliot" Gemmill-Yechout, "Shaq" Colllins, "Floyd" Cox, "Asya" Burke, "Lucy" Castleman, "Mousse" Krueger, "Gomez" Ly, "Ben" Hogan, "Kovi" Sloan, "Misty" Meyer
      %p{:style => "background-color: #ffffff;"} Left Hand Animal Hospital, Niwot, CO: "Lexi" Iden, "Jasper" Klausner, "Fenway" Mallon, "Cloud" Stuart, "Samantha" Johnson, "Stella" Rost, "Molly" Bell-Moses, "Moki" Schildt, "Marshall" Hansen-Emery
      %p
        %span{:style => "text-decoration: underline;"}
          %span{:style => "text-decoration: underline;"} July&nbsp;2015
      %p Alpine Hospital for Animals, Boulder, CO: "Avery" McNaughton, "Tiger" &amp; "Thyme" Kreeger, "Presley" Jacobs, "Emma" Herrmann, "Doodles" Clark, "Saylor" Stout, "Carly" Padden, "Kya" Ulbrick, "Isabel" Gunnels, "Panda" Shively
      %p Left Hand Animal Hospital, Niwot, CO: "Tracy" Bornmann, "Winston" Leffler, "Chase" McDonald, "Emma Flanigan" Horst, "Hollis" Jones, "Cherry" Albright, "Rosie" Brooks, "Ivy" Weinstein
      %p
        %span{:style => "text-decoration: underline;"}
          %span{:style => "text-decoration: underline;"} June&nbsp;2015
      %p Alpine Hospital for Animals, Boulder, CO: "Marble" Brauer, "Milu" Watson, "Kobi" Morrissett, "Yogi" Rodney, "Roxie" Berg, "Cricket" Polizzi, "J" Hirshon, "Maxwell" Crain, "Winston" Mayers, "Murphy" Kaiser, "Guinness" Haider, "Cody" Menk, "Houndy" Kirk, "Kermit" Gilmartin, "Marlon" Kepler, "Mayhem" Cameron
      %p Left Hand Animal Hospital, Niwot, CO: "Baylor" Jonez, "Maety" Anderson, "Tanner" Marsden, "Kobe" Wegela, "Leo" Vann-Farrell, "Jenny" Wolk
      %p
        %span{:style => "text-decoration: underline;"}
          %span{:style => "text-decoration: underline;"} May&nbsp;2015
      %p Alpine Hospital for Animals, Boulder, CO: "Honey Graham" Kotellos, "Morris" Long, "Tabitha" Munk, "Brin" Gisle, "Bastet" Freudenstein, "Mello" Phelan, "Miki" Bekoff, "Razz" Bida, "Nicholas" Vardell
      %p Left Hand Animal Hospital, Niwot, CO: "Luna" Eberlein-Plucinski, "Skipper" Stuart, "Ruby" Sander, "Mitchell" Weaks, "Crystal" Thieler, "Trapper" Pink, "Frankie" Betty-Bruggeman, "Nicky" Kurtz, "Misty" Sterkl, "Marble" Brauer, "Pepper" Schein, "Godzilla" Batiste-Westfall, "Honey" Declercq
      %p{:style => "text-align: left;"}
        %span{:style => "text-decoration: underline;"}
          %span{:style => "text-decoration: underline;"} April 2015
      %p Alpine Hospital for Animals, Boulder, CO: "Savannah" Spuler, "Nikki" Dobson, "Roy" Paradise, "Solo" Higgins, "Bella" Parker, "Tussi" Sackinger
      %p Left Hand Animal Hospital, Niwot, CO: "Ryder" Sander, "Easy" Lang, "Chai" Korres, "Dalton" Berlin, "Tobey" Lemire, "Violet" Gray, "Miki" Bekoff-Perry, "Daphne" Costain
      %p{:style => "text-align: left;"}
        %span{:style => "text-decoration: underline;"}
          %span{:style => "text-decoration: underline;"} March 2015
      %p Alpine Hospital for Animals, Boulder, CO: "Louie" Jordan, "Kiowa" Williams, "Samson" Tolejko, "Simone" Maier, "Marley" Maguire, "Oboe" Kates-Kohl, "Bijou" Alhadeff, "Fancy Sadie Brown" Willis, "Champ" Goodman, "Sequel" Nielsen
      %p Left Hand Animal Hospital, Niwot, CO: "Mia" Wolpert, "Quiggley" Simmons-Ricks, "Greta" McCroskey, "Fancy Sadie Brown" Willis, "Catherine" Damiano-Schmidt, "Shep" Dunn
      %p
        %span{:style => "text-decoration: underline;"}
          %span{:style => "text-decoration: underline;"} February 2015
      %p Alpine Hospital for Animals, Boulder, CO: "Rob" Dannemiller, "Rudy" Eder, "Sneakers" Conigliaro, "Sofi" Bennett and "Tiger" Levine.
      %p Left Hand Animal Hospital, Niwot, CO: "Buster" Nelson/Armstrong, "Che" Long, "Dylan" Epp, "Julie" Weeks, "Louie" Grosso-Chandler, "Molly" Larsen, "Pippin" Brock/Kaptein, "Robin" Sterling, "Sadie" Wegela and "Smarty" Gault.
      %p
        %span{:style => "text-decoration: underline;"} January 2015
      %p Alpine Hospital for Animals, Boulder, CO: "Buttercup" Klukvin/Slover, "Callie" Mendes, "Geck" Lears, "Gizzy" Wilson, "Megan" Finley, "Moses" Edwards/Lineberger, "Pomp" Winston, "Rex" Quatrochi, "Roxy" Boaz, "Sweetness" Cardona and "Zen" Imig.
      %p Left Hand Animal Hospital, Niwot, CO: "Aby" Johnsen, "Bailey" Miller, "Benjamin" Richter, "Ellie" Charley, "Ellie" Tilger, "Grizzabella" Rodman, "Marley" Barkhorn, "Mocha" Greweling, "Moses" Edwards/Lineberger, "Porcini" Zeff, "Sequoia" Buck, "Sheldon" Cryts", "Sophie" Ekern, "Summer" Perry and "Tina" Sudduth.

  -# .medium-3.columns.hide-for-small-only{"data-sticky-container" => ""}
  -#   .sticky{"data-anchor" => "content", "data-sticky" => ""}
  -#     %ul.accordion{"data-accordion" => "", "data-multi-expand"=>"true"}
  -#       %li.accordion-item.is-active
  -#         / The tab title needs role="tab", an href, a unique ID, and aria-controls.
  -#         %a#panel1d-heading.accordion-title{"aria-controls" => "panel1d", :href => "#panel1d", :role => "tab", style:"font-size:14px;"} How You Can Help
  -#         / The content pane needs an ID that matches the above href, role="tabpanel", data-tab-content, and aria-labelledby.
  -#         #panel1d.accordion-content{"aria-labelledby" => "panel1d-heading", "data-tab-content" => "", :role => "tabpanel"}
  -#           %ul.accord
  -#             %li
  -#               %a{:href => "/"}
  -#                 Monetary Donations
  -#             %li
  -#               %a{:href => "/"}
  -#                 Donate Equipment, Tech, or supplies
  -#             %li
  -#               %a{:href => "/"}
  -#                 Celebrations & memorials
  -#             %li
  -#               %a{:href => "/"}
  -#                 Volunteer
  -#             %li
  -#               %a{:href => "/"}
  -#                 Shop

        -# %li.accordion-item
        -#   / The tab title needs role="tab", an href, a unique ID, and aria-controls.
        -#   %a#panel1d-heading.accordion-title{"aria-controls" => "panel1d", :href => "#panel1d", :role => "tab", style:"font-size:14px;"} Sign up for our e-newsletter
        -#   / The content pane needs an ID that matches the above href, role="tabpanel", data-tab-content, and aria-labelledby.
        -#   #panel1d.accordion-content{"aria-labelledby" => "panel1d-heading", "data-tab-content" => "", :role => "tabpanel"}
        -#     %form
        -#       %input{:placeholder=>"Name"}
        -#       %br
        -#       %input{:placeholder=>"Email"}
        -#       %br
        -#       %a.btn.btn-default{:href => "#", :role => "button"} Submit







=render '/shared/footer'
