#content.row
  .medium-12
    .top-image{style:"background-image:url(http://vinelist.com/assets/contact-lion.jpg);height:300px;width:100%;background-size: cover;"}


#content.row{style:"background-color:#fff;padding20px;margin-top:0px;min-height:600px;"}
  .medium-6.columns
    .blog-post
      %h3{style:"margin-bottom:25px;"}
        Contact Us


      %p
        #articlepxfontsize1
          .row.small-up-1.medium-up-2.large-up-2
            .column
              %p
                %strong We can be reached at:
              %p
                Project V.E.T.S.
                %br
                  1630 A 30th Street, #256
                  %br
                    Boulder, CO 80301
                    %br
                      303-819-2501
                      %br
                      %a{:href => "mailto:info@projectvets.org"}info@projectvets.org
            .column
              -# %iframe{:allowfullscreen => "", :frameborder => "0", :height => "450", :src => "https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3055.694252579282!2d-105.25540788382924!3d40.01527657941364!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x876beddab8f89bcb%3A0x3b228c3f718eaa02!2s1630+30th+St%2C+Boulder%2C+CO+80303!5e0!3m2!1sen!2sus!4v1453356156416", :style => "border:0;width:130%;"}
  .medium-6.columns
    %p
    %form#contactFrom{:action => "http://projectvets.org/index.php/contact-us", :method => "post"}
      .componentheading
      #rsform_error_4{:style => "display: none;"}
        %p.formRed Please complete all required fields!
      %table.formTableLayout{:border => "0"}
        %tbody
          %tr.rsform-block.rsform-block-name
            %td Name (*)
            %td
              %input#Name.rsform-input-box{:name => "form[Name]", :size => "20", :type => "text", :value => ""}
                .formClr

            %td
          %tr.rsform-block.rsform-block-emailaddress
            %td Email Address (*)
            %td
              %input#EmailAddress.rsform-input-box{:name => "form[EmailAddress]", :size => "20", :type => "text", :value => ""}
                .formClr

            %td
          %tr.rsform-block.rsform-block-address
            %td Address
            %td
              %input#Address.rsform-input-box{:name => "form[Address]", :size => "20", :type => "text", :value => ""}
                .formClr

            %td
          %tr.rsform-block.rsform-block-city
            %td City
            %td
              %input#City.rsform-input-box{:name => "form[City]", :size => "20", :type => "text", :value => ""}
                .formClr

            %td
          %tr.rsform-block.rsform-block-state
            %td State
            %td
              %input#State.rsform-input-box{:name => "form[State]", :size => "20", :type => "text", :value => ""}
                .formClr

            %td
          %tr.rsform-block.rsform-block-zip
            %td Zip
            %td
              %input#Zip.rsform-input-box{:name => "form[Zip]", :size => "20", :type => "text", :value => ""}
                .formClr

            %td
          %tr.rsform-block.rsform-block-phone
            %td Phone
            %td
              %input#Phone.rsform-input-box{:name => "form[Phone]", :size => "20", :type => "text", :value => ""}
                .formClr

            %td
          %tr.rsform-block.rsform-block-information
            %td I would like more information on:
            %td
              %textarea#information.rsform-text-box{:cols => "40", :name => "form[information]", :rows => "5"}
              .formClr

            %td
          %tr.rsform-block.rsform-block-captcha
            %td
            %td
              =recaptcha_tags

            %td
          %tr.rsform-block.rsform-block-signup
            %td
            %td
              %input#SignUp.buttonSubmit.rsform-submit-button{:name => "form[SignUp]", :type => "submit", :value => "Submit"}
                .formClr
            %td
      %input{:name => "form[formId]", :type => "hidden", :value => "4"}/






=render '/shared/footer'
