


#content.row{style:"background-color:#fff;padding:20px;margin-bottom:20px;min-height:600px;"}
  .medium-8.columns
    .blog-post
      %h3{style:"margin-bottom:25px;"}
        Our Donors


      %p


        %p Project V.E.T.S is thrilled to acknowledge donations in 2014 from the following people/businesses!
        %p
          %strong
            %span{:style => "text-decoration: underline;"} Monetary Donations
            %br/
        %p
          %strong Super Stars (monetary donations over $1000):
        %ul{style:"margin-left:30px;"}
          %li Amy B. and Brad F.
          %li Candy and Louis B.
          %li Diane B.
          %li Claire C. and Brian M.
          %li Dorothy and Zane L.
          %li Ally M. and Chris M.
          %li Jane and Craig M.
          %li Laura and Michael P.
          %li Ed R.
          %li Christine R. and Chris W.
          %li Jean and Ed S.
          %li
            %a{:href => "http://woodtigerfund.org", :target => "_blank"} Woodtiger Fund
        %p
          %strong
            Stars
            %strong (monetary donations over $250):
        %ul{style:"margin-left:30px;"}
          %li
            %a{:href => "http://www.alpinehospitalforanimals.com", :target => "_blank"}> Alpine Hospital For Animals
            \-Pet Memorial Program
          %li
            %a{:href => "http://www.bouldercounty.com", :target => "_blank"} Boulder County Communications
          %li
            %a{:href => "http://www.animalhospitalllp.com", :target => "_blank"} Boulder Pet Vet, Inc.
          %li
            %a{:href => "http://www.brentwoodanimalhosp.org", :target => "_blank"} Brentwood Animal Hospital
          %li Debra and Charles B.
          %li Michael C.
          %li Marguerite and Tom D.
          %li
            %a{:href => "http://dogdaystc.com", :target => "_blank"} Dog Days Training Center
          %li Tamra E.
          %li Kitty E.
          %li Helen G. and Dan Y.
          %li Alison H.
          %li Stephen H.
          %li Laura L.
          %li
            %a{:href => "http://lefthandanimalhospital.com", :target => "_blank"}> Left Hand Animal Hospital
            \-Pet Memorial Program
          %li Susan L.
          %li
            %a{:href => "http://www.bouldercpas.com", :target => "_blank"} Mark Carson and Associates
          %li Barbara M.
          %li Teresa M.
          %li
            %a{:href => "http://thepawsdoc.com", :target => "_blank"} Paws On Wheels
          %li Brad S.
          %li
            %a{:href => "http://spirithounds.com", :target => "_blank"} Spirit Hound Distillers
          %li
            %a{:href => "http://www.threescoopsofvanilla.com", :target => "_blank", :title => "Three Scoops of Vanilla"} Three Scoops of Vanilla
          %li
            %a{:href => "http://www.zoetis.com", :target => "_blank", :title => "Zoetis"} Zoetis
            (formerly Pfizer Animal Health)
        %p
          %strong Supporters (monetary donations):
        %ul{style:"margin-left:30px;"}
          %li Jen and Deren A.
          %li Carolyn A.
          %li Marcy A.
          %li
            %a{:href => "https://smile.amazon.com", :target => "_blank"} Amazon Smile Foundation
          %li Kelly A-E.
          %li Joe A.
          %li Joanna and Austin B.
          %li Dan and Sue B.
          %li Brian B.
          %li David B.
          %li Kirsten B.
          %li Jen B.
          %li Terry and Marty B.
          %li Nancy B. and Forrest N.
          %li Ann and Billy C.
          %li Tom and Patti C.
          %li Linda C.
          %li CarMax Matching Gifts Program
          %li Carole C.
          %li Rochelle C.
          %li Shantel C.
          %li Meghan and Chris C.
          %li Jenni D.
          %li Alice D.
          %li Fenton and John E.
          %li Mollie F.
          %li Lynn F.
          %li Phi F.
          %li Deborah F.
          %li Bonnie G.
          %li Elizabeth G.
          %li Amanda G.
          %li Holly G.
          %li Catherine H.
          %li
            %a{:href => "http://www.halepetdoor.com/pet_rescue", :target => "_blank"} Hale Pet Door Rescue Rewards Program
          %li Scott H.
          %li Susan H.
          %li Denise H.
          %li Peggy I.
          %li Kris I.
          %li Julianna J.
          %li Roni J.
          %li Jo K.
          %li Nancy K.
          %li Martha L.
          %li Cindy and Kyle L.
          %li Charli and Henry L.
          %li Julie M.
          %li Jobe M.
          %li Jennifer M.
          %li Joanne and Rick M.
          %li Jennifer M.
          %li Madoka and David M.
          %li Carol N.
          %li Robert N.
          %li
            %a{:href => "http://pawpular.co", :target => "_blank"} Pawpular Solutions
          %li Lea P.
          %li Cindy P. and David F.
          %li Lee and Jim P-D.
          %li Darcie R.
          %li Marilyn and Jim R.
          %li Lewis R.
          %li Emma R.
          %li Jen R.
          %li Carol and Sean R.
          %li Rebecca S.
          %li Karen and Chuck S.
          %li Andrea and Mark S.
          %li Janice S.
          %li Karin S. and Jim T.
          %li Candace T.
          %li Linda T.
          %li Nile S.
          %li Debbie S.
          %li Bob and Bev S.
          %li
            %a{:href => "http://www.threescoopsofvanilla.com", :target => "_blank"} Three Scoops of Vanilla
          %li Lisa T.
          %li Andy T. and Yasuko T.
          %li Teri and Greg T.
          %li Jillian W.
          %li Susan W.
          %li George W.
          %li Andrew W.
          %li Tory W. and Andy P.
          %li Susie and Tom W.
        %h4
          %span{:style => "text-decoration: underline;"}
            %strong Veterinary Equipment, Technology and Supply Donations
        %p
          %strong Super Stars (in-kind donations over $1000):
        %ul{style:"margin-left:30px;"}
          %li
            %a{:href => "http://www.alpinehospitalforanimals.com", :target => "_blank"} Alpine Hospital for Animals
          %li
            %strong
            %a{:href => "http://apexx-equipment.com", :target => "_blank", :title => "apexx "} apexx Veterinary Equipment
          %li
            %a{:href => "http://www.exemplagoodsamaritan.org/", :target => "_blank"} Exempla Good Samaritan Medical Center
          %li
            %a{:href => "http://www.greenwoodwildlife.org", :target => "_blank"} Greenwood Wildlife Rehabilitation Center
          %li Hampton Veterinary Hospital, PC
          %li
            %a{:href => "http://www.hartz.com", :target => "_blank"} Hartz Mountain Corporation
          %li
            %a{:href => "http://www.heska.com", :target => "_blank"} HESKA
          %li
            %a{:href => "http://www.jaspervet.com/", :target => "_blank"} Jasper Animal Hospital
          %li
            %a{:href => "http://www.longmontsurgerycenter.com", :target => "_blank"} Longmont Surgery Center
          %li Anne M.
          %li
            %a{:href => "http://www.medvetforpets.com", :target => "_blank"} MEDVET Associates LLC
          %li Karen and Gregg P.
          %li
            %a{:href => "http://spartavetclinic.vetstreet.com", :target => "_blank"} Sparta Veterinary Clinic
          %li
            %a{:href => "http://www.willowbrookwildlife.com", :target => "_blank"} Willowbrook Wildlife Center
          %li
            %a{:href => "http://www.zoetis.com", :target => "_blank", :title => "Zoetis"} Zoetis
            (formerly Pfizer Animal Health)
        %p
          %br
            %strong
              Stars
              %strong (in-kind donations over $250):
        %ul{style:"margin-left:30px;"}
          %li
            %a{:href => "http://animalhavenclinic.com", :target => "_blank"} Animal Haven Clinic
          %li
            %a{:href => "http://aspenmeadowvet.com", :target => "_blank"} Aspen Meadow Veterinary Specialists
          %li
            %a{:href => "http://bernardsvilleanimalhospital.com/", :target => "_blank"} Bernardsville Animal Hospital
          %li
            %a{:href => "http://www.bouldercounty.com", :target => "_blank"} Boulder County Communications
          %li
            %a{:href => "http://www.emergencypetclinics.com", :target => "_blank"} Boulder Emergency Pet Clinic
          %li Candy and Louis B.
          %li
            %a{:href => "http://capitolaveterinaryhospital.com", :target => "_blank"} Capitola Veterinary Hospital
          %li
            %a{:href => "http://www.cvcavets.com", :target => "_blank"} Chesapeake Veterinary Cardiology Associates
          %li
            %a{:href => "http://ccvcri.com", :target => "_blank"} Compassionate Care Veterinary Clinic
          %li Cooperstown Veterinary Associates
          %li Clem D.
          %li
            %a{:href => "http://foothillssurgery.net/", :target => "_blank"} Foothills Surgery Center
          %li
            %a{:href => "http://www.holladayveterinaryhospital.com", :target => "_blank"} Holladay Veterinary Hospital
          %li
            %a{:href => "http://www.theinsideandout.com", :target => "_blank"} inside/out Humanitourism
          %li Dr. Barb LJ.
          %li Juanita Mobile Vet Service
          %li Hector L.
          %li
            %a{:href => "http://www.nelsonroadvet.com", :target => "_blank"} Nelson Road Veterinary Hospital
          %li
            %a{:href => "http://newfrontieramc.com", :target => "_blank"} New Frontier AMC
          %li
            %a{:href => "http://www.northlakevet.com", :target => "_blank"} North Lake Veterinary Clinic
          %li
            %a{:href => "http://www.homecarephhc.com", :target => "_blank"} Professional Home Health-Longmont
          %li Dr. Scott R.
          %li
            %a{:href => "http://www.seacoastvetcalls.com/", :target => "_blank"} Seacoast Veterinary Housecalls
          %li
            %a{:href => "http://spirithounds.com", :target => "_blank"} Spirit Hound Distillers
          %li
            %a{:href => "http://www.sunnyvalevet.com", :target => "_blank"} Sunnyvale Veterinary Clinic
          %li
            %a{:href => "http://www.tablescapesbydesign.com", :target => "_blank"} Tablescapes By Design
          %li
            %a{:href => "http://www.vcahospitals.com/all-pets-boulder", :target => "_blank"} VCA Allpets Animal Hospital Boulder
          %li Stephanie Y.
        %p
          %br
            %strong Supporters (in-kind donations):
        %ul{style:"margin-left:30px;"}
          %li
            %a{:href => "http://www.allfourpaws.com", :target => "_blank"} All Four Paws
          %li
            %a{:href => "http://www.animalhospitalllp.com", :target => "_blank"} The Animal Hospital
          %li
            %a{:href => "http://bcinteriors.com", :target => "_blank"} BCInteriors
          %li
            %a{:href => "http://bestautolongmont.com", :target => "_blank"} Best Auto Longmont
          %li
            %a{:href => "http://boulderrockclub.com", :target => "_blank"} Boulder Rock Club
          %li Claire C.
          %li Jerry C.
          %li
            %a{:href => "http://countyanimalclinic.net/contact-us.html", :target => "_blank"} County Animal Clinic
          %li Theresa D.
          %li
            %a{:href => "http://www.etown.org", :target => "_blank"} eTown
          %li
            %a{:href => "http://www.gatewayfunpark.com", :target => "_blank"} Gateway Park Fun Center
          %li
            %a{:href => "http://hapasushi.com", :target => "_blank"} Hapa Sushi Grill and Sake Bar
          %li
            %a{:href => "http://www.illegalpetes.com", :target => "_blank"} Illegal Pete's Boulder
          %li
            %a{:href => "http://justins.com", :target => "_blank"} Justin's
          %li
            %a{:href => "http://lefthandanimalhospital.com", :target => "_blank"} Left Hand Animal Hospital
          %li
            %a{:href => "http://www.longmontsurgerycenter.com", :target => "_blank"} Longmont Surgery Center
          %li
            %a{:href => "http://www.luhcares.org", :target => "_blank"} Longmont United Hospital-Surgery Center
          %li
            %a{:href => "http://paulmorrisoncolours.com", :target => "_blank"} Paul Morrison Colours
          %li
            %a{:href => "http://www.nelsonroadvet.com", :target => "_blank"} Nelson Road Veterinary Hospital
          %li Christina O.
          %li
            %a{:href => "http://www.OutdoorSafety.net/", :target => "_blank"} Outdoor Safety
          %li Linda P.
          %li
            %a{:href => "http://www.redstonemeadery.com", :target => "_blank"} Redstone Meadery
          %li Gwendy RI
          %li
            %a{:href => "https://www.securos.com", :target => "_blank"} SECUROS
          %li Michael S.
          %li
            %a{:href => "http://www.smallthingsvhc.com", :target => "_blank"} Small Things Veterinary House Calls
          %li
            %a{:href => "http://www.spaviadayspa.com", :target => "_blank"} Spavia (Boulder)
          %li
            %a{:href => "http://thespotgym.com", :target => "_blank"} The Spot Bouldering Gym
          %li
            %a{:href => "http://dianatripp.com", :target => "_blank"} Diana Tripp Fine Art
          %li Jillian W.
          %li
            %a{:href => "http://www.wildmountainsb.com", :target => "_blank"} Wild Mountain Smokehouse and Brewery
          %li
            %a{:href => "http://boulder.yogapodcommunity.com", :target => "_blank"} Yoga Pod Boulder
        %p
          And a Special Thank You to
          %a{:href => "http://www.mledoux.com", :target => "_blank"} Michele Ledoux
          for all her donated design time,
          %a{:href => "http://www.bouldercounty.com", :target => "_blank"} Boulder County Communications
          for email hosting and Daniel W. for web hosting!!!

  .medium-3.columns.hide-for-small-only{"data-sticky-container" => ""}
    .sticky{"data-anchor" => "content", "data-sticky" => ""}
      %ul.accordion{"data-accordion" => "", "data-multi-expand"=>"true"}
        %li.accordion-item.is-active
          / The tab title needs role="tab", an href, a unique ID, and aria-controls.
          %a#panel1d-heading.accordion-title{"aria-controls" => "panel1d", :href => "#panel1d", :role => "tab", style:"font-size:14px;"} How You Can Help
          / The content pane needs an ID that matches the above href, role="tabpanel", data-tab-content, and aria-labelledby.
          #panel1d.accordion-content{"aria-labelledby" => "panel1d-heading", "data-tab-content" => "", :role => "tabpanel"}
            %ul.accord
              %li
                %a{:href => "/"}
                  Monetary Donations
              %li
                %a{:href => "/"}
                  Donate Equipment, Tech, or supplies
              %li
                %a{:href => "/"}
                  Celebrations & memorials
              %li
                %a{:href => "/"}
                  Volunteer
              %li
                %a{:href => "/"}
                  Shop
        -# 
        -# %li.accordion-item
        -#   / The tab title needs role="tab", an href, a unique ID, and aria-controls.
        -#   %a#panel1d-heading.accordion-title{"aria-controls" => "panel1d", :href => "#panel1d", :role => "tab", style:"font-size:14px;"} Sign up for our e-newsletter
        -#   / The content pane needs an ID that matches the above href, role="tabpanel", data-tab-content, and aria-labelledby.
        -#   #panel1d.accordion-content{"aria-labelledby" => "panel1d-heading", "data-tab-content" => "", :role => "tabpanel"}
        -#     %form
        -#       %input{:placeholder=>"Name"}
        -#       %br
        -#       %input{:placeholder=>"Email"}
        -#       %br
        -#       %a.btn.btn-default{:href => "#", :role => "button"} Submit







=render '/shared/footer'
