


#content.row{style:"background-color:#fff;padding:20px;margin-bottom:20px;min-height:600px;"}
  .medium-2.columns
    %p
    %h3{style:"margin-bottom:25px;"}
      Gallery
  .medium-8.columns
    .blog-post


      .gallery-content{style:"margin-top:50px;"}
        %div{}
          =image_tag('3333', style:"width:700px;")
        %div{}
          =image_tag('Rajuii', style:"width:700px;")
        %div{}
          =image_tag('GAAPkitten.jpg', style:"width:700px;")
        %div{}
          =image_tag('Greenwood.jpg', style:"width:700px;")
        %div{}
          =image_tag('WW1.jpg', style:"width:700px;")
        %div{}
          =image_tag('10005836_784296028248932_6943040001441776828_o', style:"width:700px;")
        %div{}
          =image_tag('slide2-husky.jpg', style:"width:700px;")
        %div{}
          =image_tag('MGVPS6131', style:"width:700px;")
        %div{}
          =image_tag('Belize.jpg', style:"width:700px;")
        %div{}
          =image_tag('AWAHS1.jpg', style:"width:700px;")
        %div{}
          =image_tag('Knysna.jpg', style:"width:700px;")
        %div{}
          =image_tag('1613957_691420157581872_1671414013750638049_n.jpg', style:"width:700px;")
        %div{}
          =image_tag('KAWS-Sylvia', style:"width:700px;")
        %div{}
          =image_tag('Mazie', style:"width:700px;")





  .medium-2.columns
    %p
=render '/shared/footer'
