


#content.row{style:"background-color:#fff;padding:20px;margin-bottom:20px;min-height:600px;"}
  .medium-8.columns
    .blog-post
      %h3{style:"margin-bottom:25px;"}
        History


      %p
        #articlepxfontsize1
      %p
        %img{:alt => "history1", :height => "177", :src => "/assets/history1.png", :style => "margin: 8px; float: left;", :width => "200"} The 21st century has brought many global issues to the forefront. We realize not only how fragile the Earth’s ecosystems are, but also the role we play in protecting them. Project V.E.T.S. is a personal response to this realization. After tragedies like the Indonesian Tsunami of 2004 and Hurricane Katrina as well as the horrific slaying of seven endangered Mountain Gorillas in the Democratic Republic of Congo, we decided to find a way to help the animals of our planet.
      %p Veterinarians in the United States and other industrialized countries usually have access to state-of-the-art equipment, journals, textbooks, medications and experts. As new equipment and technologies become available, the replaced item is often put aside or thrown away, even if it still works.
      %p
        %img{:alt => "history2", :height => "133", :src => "/assets/history2.png", :style => "margin: 8px; float: right;", :width => "200"} The same cannot be said of many other parts of the globe. Here there are amazing individuals, both veterinarians and non-veterinarians, who are working to improve animal health. Often, they work with antiquated equipment, or no equipment at all, and minimal supplies. They compete with many other animal-related organizations, all vying for the same donated dollars. All have the same frustrations trying to get supplies shipped to their locations.
      %p Project V.E.T.S. seeks to solve many of these difficulties. By providing an avenue for individuals in the veterinary or human health fields to donate fully functional equipment and supplies, we make it easy for them to reach out and help these veterinarians working in hard-to-reach areas. We keep valuable resources from clogging our landfills and we are improving animal health and welfare around the globe.
      %p
        %img{:alt => "history3", :height => "133", :src => "/assets/history3.png", :style => "margin: 8px; float: left;", :width => "200"} Whether it is a chimpanzee in Uganda, dogs and cats in the United States or livestock in India, Project V.E.T.S. can help. By working together, we can decrease the waste of valuable supplies and increase the quality of care for animals worldwide.
      %p Thank you so much for visiting our website and helping to unite the global veterinary community - together we can heal the planet one animal at a time!


  .medium-3.columns.hide-for-small-only{"data-sticky-container" => ""}
    .sticky{"data-anchor" => "content", "data-sticky" => ""}
      %ul.accordion{"data-accordion" => "", "data-multi-expand"=>"true"}
        %li.accordion-item.is-active
          / The tab title needs role="tab", an href, a unique ID, and aria-controls.
          %a#panel1d-heading.accordion-title{"aria-controls" => "panel1d", :href => "#panel1d", :role => "tab", style:"font-size:14px;"} How You Can Help
          / The content pane needs an ID that matches the above href, role="tabpanel", data-tab-content, and aria-labelledby.
          #panel1d.accordion-content{"aria-labelledby" => "panel1d-heading", "data-tab-content" => "", :role => "tabpanel"}
            %ul.accord
              %li
                %a{:href => "/"}
                  Monetary Donations
              %li
                %a{:href => "/"}
                  Donate Equipment, Tech, or supplies
              %li
                %a{:href => "/"}
                  Celebrations & memorials
              %li
                %a{:href => "/"}
                  Volunteer
              %li
                %a{:href => "/"}
                  Shop

        %li.accordion-item
          / The tab title needs role="tab", an href, a unique ID, and aria-controls.
          %a#panel1d-heading.accordion-title{"aria-controls" => "panel1d", :href => "#panel1d", :role => "tab", style:"font-size:14px;"} Sign up for our e-newsletter
          / The content pane needs an ID that matches the above href, role="tabpanel", data-tab-content, and aria-labelledby.
          #panel1d.accordion-content{"aria-labelledby" => "panel1d-heading", "data-tab-content" => "", :role => "tabpanel"}
            %form
              %input{:placeholder=>"Name"}
              %br
              %input{:placeholder=>"Email"}
              %br
              %a.btn.btn-default{:href => "#", :role => "button"} Submit







=render '/shared/footer'
