#content.row
  .medium-12
    .top-image{style:"background-image:url(/assets/mission-vet.jpg);height:400px;width:100%;background-size: cover;"}



.row{style:"background-color:#fff;padding:20px;margin-bottom:20px;min-height:400px;margin-top:0px;"}
  .medium-12.columns
    .blog-post
      %h3{style:"margin-bottom:25px;"}
        Mission Statement


      %p
        We are a 501(c)(3) organization dedicated to helping improve the health and welfare of animals around the globe. We achieve this goal by collecting veterinary equipment, technology and supplies (V.E.T.S.) from veterinary hospitals, veterinary colleges, zoological societies, human hospitals and medical equipment/supply manufacturers. These donated items are then distributed worldwide to veterinarians working in nonprofit or non-governmental organizations devoted to animal health. In this way, we not only help the animals of our planet, but we also conserve valuable resources that might otherwise end up in someone’s storage facility or a landfill.

=render '/shared/footer'
