


#content.row{style:"background-color:#fff;padding:20px;margin-bottom:20px;min-height:600px;"}
  .medium-12.columns
    .blog-post
      %h3{style:"margin-bottom:25px;"}
        Mission Statement


      %p
        We are a 501(c)(3) organization dedicated to helping improve the health and welfare of animals around the globe. We achieve this goal by collecting veterinary equipment, technology and supplies (V.E.T.S.) from veterinary hospitals, veterinary colleges, zoological societies, human hospitals and medical equipment/supply manufacturers. These donated items are then distributed worldwide to veterinarians working in nonprofit or non-governmental organizations devoted to animal health. In this way, we not only help the animals of our planet, but we also conserve valuable resources that might otherwise end up in someone’s storage facility or a landfill.


  -# .medium-3.columns.hide-for-small-only{"data-sticky-container" => ""}
  -#   .sticky{"data-anchor" => "content", "data-sticky" => ""}
  -#     %ul.accordion{"data-accordion" => "", "data-multi-expand"=>"true"}
  -#       %li.accordion-item.is-active
  -#         / The tab title needs role="tab", an href, a unique ID, and aria-controls.
  -#         %a#panel1d-heading.accordion-title{"aria-controls" => "panel1d", :href => "#panel1d", :role => "tab", style:"font-size:14px;"} How You Can Help
  -#         / The content pane needs an ID that matches the above href, role="tabpanel", data-tab-content, and aria-labelledby.
  -#         #panel1d.accordion-content{"aria-labelledby" => "panel1d-heading", "data-tab-content" => "", :role => "tabpanel"}
  -#           %ul.accord
  -#             %li
  -#               %a{:href => "/"}
  -#                 Monetary Donations
  -#             %li
  -#               %a{:href => "/"}
  -#                 Donate Equipment, Tech, or supplies
  -#             %li
  -#               %a{:href => "/"}
  -#                 Celebrations & memorials
  -#             %li
  -#               %a{:href => "/"}
  -#                 Volunteer
  -#             %li
  -#               %a{:href => "/"}
  -#                 Shop
  -#       -#
        -# %li.accordion-item
        -#   / The tab title needs role="tab", an href, a unique ID, and aria-controls.
        -#   %a#panel1d-heading.accordion-title{"aria-controls" => "panel1d", :href => "#panel1d", :role => "tab", style:"font-size:14px;"} Sign up for our e-newsletter
        -#   / The content pane needs an ID that matches the above href, role="tabpanel", data-tab-content, and aria-labelledby.
        -#   #panel1d.accordion-content{"aria-labelledby" => "panel1d-heading", "data-tab-content" => "", :role => "tabpanel"}
        -#     %form
        -#       %input{:placeholder=>"Name"}
        -#       %br
        -#       %input{:placeholder=>"Email"}
        -#       %br
        -#       %a.btn.btn-default{:href => "#", :role => "button"} Submit







=render '/shared/footer'
