#content.row
  .medium-12
    .top-image{style:"background-image:url(/assets/mission-vet.jpg);height:400px;width:100%;background-size: cover;"}



.row{style:"background-color:#fff;padding:20px;margin-bottom:20px;min-height:400px;margin-top:0px;"}
  .medium-12.columns
    .blog-post
      %h3{style:"margin-bottom:25px;"}
        Mission Statement


      %p
        Project V.E.T.S. is a Boulder, Colorado based 501(c)(3) organization dedicated to improving the health and welfare of animals around the world.  We achieve this goal by collecting veterinary equipment, technology and supplies (V.E.T.S.) from veterinary hospitals, veterinary colleges, human hospitals, medical equipment and supply manufacturers, other non-profit organizations and individuals.  These donated items are then distributed worldwide to veterinarians working in non-profit or non-governmental organizations devoted to animal health.  In this way, we not only help the animals of the planet, but we also conserve valuable resources that might otherwise end up in a landfill.
      %p
        Together, we are healing the planet one animal at a time.

=render '/shared/footer'
