#content.row
  .medium-12
    .top-image{style:"background-image:url(/assets/zebras.jpg);height:400px;width:100%;background-size: cover;"}



.row{style:"background-color:#fff;padding:20px;margin-bottom:20px;min-height:600px;margin-top:0px;"}
  .medium-12.columns
    .blog-post
      %h3{style:"margin-bottom:25px;"}
        Annual Reports


      %p


        %p Project V.E.T.S. is pleased to provide links to our Annual Reports. If you have any trouble following the links or accessing the documents, please let us know. We would be happy to send you an electronic or hard copy version. Thank you again to all who have supported Project V.E.T.S....we look forward to working with you again in the future!
        %h5 Download PDFs
        %ul{style:"margin-left:30px;"}
          %li
            %a{:href => "/assets/2010%20Project%20V.E.T.S.%20Annual%20Report.pdf", :target => "_blank"} 2010 Project V.E.T.S. Annual Report
          %li
            %a{:href => "/assets/2011ProjectV.E.T.S.Annual%20Report.pdf", :target => "_blank"} 2011 Project V.E.T.S. Annual Report
          %li
            %a{:href => "/assets/2012%20PV%20AR.pdf", :target => "_blank", :title => "2012 Project V.E.T.S. Annual Report"} 2012 Project V.E.T.S. Annual Report
          %li
            %a{:href => "/assets/2013%20Project%20V.E.T.S.%20Annual%20Report%20.pdf", :target => "_blank", :title => "2013 Project V.E.T.S. Annual Report"} 2013 Project V.E.T.S. Annual Report
          %li
            %a{:href => "/assets/2014_report.pdf", :target => "_blank", :title => "2014 Project V.E.T.S. Annual Report"} 2014 Project V.E.T.S. Annual Report





=render '/shared/footer'
