


#content.row{style:"background-color:#fff;padding:20px;margin-bottom:20px;min-height:600px;"}
  .medium-12.columns
    .blog-post
      %h3{style:"margin-bottom:25px;"}
        Our Staff

      %p

        %h4 Meghan Curtis, Executive Director
        %p
          %img{:alt => "meghan", :height => "143", :src => "/assets/meghan.jpg", :style => "margin: 16px; border: 1px solid #000000; float: left;", :width => "200"}/
        %p{style:"font-size:14px;margin-top:80px;"}
          Meghan comes to Project V.E.T.S. with a lifelong passion for wildlife conservation and animal welfare.&nbsp;&nbsp; Prior to joining Project V.E.T.S., Meghan was employed with the Capuchin Province of Mid-America as the Director of Foundation Development and Special Events.&nbsp; She also worked for many years in the banking and telecommunications industries focusing on project management, contract management and sales operations.&nbsp; Meghan volunteered with Greenwood Wildlife Rehabilitation Center for 10 years and served on their Board and Fundraising Committees for a number of years. &nbsp;
          %br Meghan has enjoyed trips to Central America and Africa to participate in wildlife research and conservation projects.&nbsp; She lives in Arvada, Colorado with her husband, three children and two cats.&nbsp; A graduate of Temple University and a Delawarean at heart, Meghan has lived in Colorado for almost 20 years.

        %h4.shim-top.large Marcy Allard, Inventory Manager
        %p
          %img{:alt => "s1", :height => "150", :src => "/assets/marcy.jpg", :style => "margin: 16px; border: 1px solid #000000; float: left;", :width => "200"}/

        %p{style:"font-size:14px;margin-top:120px;"}
          Marcy works part-time for Project V.E.T.S. managing all the donated inventory that comes through our door. Every donation that is received must be counted and valued. &nbsp;Once she has organized it, we can then get it ready to ship to our Recipient Organizations. When she is not counting supplies, she is a part-time veterinary technician at a small animal practice in Boulder.







=render '/shared/footer'
