#content.row
  .medium-12
    .top-image{style:"background-image:url(http://vinelist.com/assets/contact-lion.jpg);height:300px;width:100%;background-size: cover;"}


#content.row{style:"background-color:#fff;padding20px;margin-top:0px;min-height:600px;"}

  .medium-12.columns
    .row
      .medium-12.columns
        .blog-post
          %h3{style:"margin-bottom:25px;"}
            Vehicle Donation


    .row
      .medium-1.columns
        %p
      .medium-11.columns
        %p
          Turn your car into care for Vets across the world!
        %p

          By donating your vehicle to Project Vets, you help us provide veterinary care, behavior training, foster homes and loving attention to pets in need—and help them find the new homes they deserve.

          To donate your car, truck, boat or motorcycle, you simply need a clear title and the keys—your vehicle doesn’t even have to be in working condition. Our partner, Vehicles for Charity, will pick up or tow your vehicle at no cost to you. Then it will be sold at auction, with a portion of proceeds going to support the Project Vets.

        %p

          The IRS may allow you to take a charitable-tax deduction on your federal income tax return for the gross sale of your vehicle. If the gross sale of the vehicle is greater than $500, the IRS may require you to fill out Form 8283, “Non-cash Charitable Contributions.” For more information, consult your tax advisor.

        %p
          Avoid the headache of selling or disposing of your vehicle by transforming it into a life-changing gift for homeless pets right here in our community.

          For more information, call Vehicles for Charity at
          %b
            (866) 628-2277

        %a{:href => "http://www.vehiclesforcharity.org/Donate/PVET.html", target:'_blank'}
          Donate Car

=render '/shared/footer'
