.medium-12 {
  img {
    box-shadow: 4px 4px 4px;
  }
}

#filtersubmit {
    position: relative;
    z-index: 1;
    left: -25px;
    top: 1px;
    color: #7B7B7B;
    cursor:pointer;
    width: 0;
}


.menu {
  background-color: transparent !important;
  color: #fff ;
  a {
    color: #fff !important;
    font-weight: 500;
  }
}

.padd-left {

  margin-left:50px;

}

.footer-back {
    background-color: #EBEBEE !important;
}

.row {
  margin-top:20px;
}

.no-margin {
  margin: 0px;
}

footer {
  background-color: #EBEBEE !important;
  li {
  color: #000 !important;

}
  .menu {
    background-color: #EBEBEE !important;
    a {
        color: #000 !important;

    }

  }


}

.lower-m {
  li {

    a {
      color: #fff !important
    }
  }
}

.fullWidth {
   width: 100%;
   margin-left: auto;
   margin-right: auto;
   max-width: initial;
}



.doggy {
  background-image: url(/assets/doggy.jpg);
  height:600px;
  background-size: cover;

}
.doggy-side {
  background-color: #525e4e;
  height:600px;
  color: #fff;
  font-weight: 300;
  padding: 90px;
  padding-top:140px;
}
.bottom-hp {
  background-image: url(/assets/street.jpg);
  height:600px;
  background-size: cover;
}

.callout.large {
  padding: 0rem;
}

.top-bar-right {
  .button {
    margin-top:30px;
  }
}


.button {
  background-color: #687819;
  &.clear {
    background: transparent;
    border: 1px solid #fff;
  }
}

.dropdown.menu .has-submenu.is-down-arrow>a::after {
  border-color: #687819 transparent transparent;
}






 .callout {
     //width:100%;
     &.primary {
       background-image: url('/assets/lion-main.jpg');
       background-size: 100%;
       background-repeat: no-repeat;
       margin-top: -20px;
       min-height:500px;
       height:650px;
       a {
         color: transparent;

       }
     }



     border: 0px;

 }

 .callout.primary {
   background-color: transparent !important;
 }




 .menu-text {
   color: #fff;
  font-size: 11px;
 }





#content {
  margin-top:50px;
}







   .menu-text {
     color: #fff;


   }










   @media only screen and (max-width: 40em) {

     .top-bar {
       display:none;
     }
   }


//
//  .fullscreen-bg {
//      position: fixed;
//      top: 0;
//      right: 0;
//      bottom: 0;
//      left: 0;
//      overflow: hidden;
//      z-index: -100;
//      margin-top: -60px;
//  }
//
//  .fullscreen-bg__video {
//      position: absolute;
//      top: 0;
//      left: 0;
//      width: 100%;
//      height: 200%;
//      margin-top: -60px;
//  }
//
//  @media (min-aspect-ratio: 16/9) {
//   .fullscreen-bg__video {
//     width: 100%;
//     height: 150%;
//     margin-top: -60px;
//   }
// }

.max-width {
  max-width:100rem !important;
}



@media (min-width: 1200px) {
  // .container {
  //     width: 1300px;
  // }
}


@media (max-aspect-ratio: 16/9) {
  .fullscreen-bg__video {
    width: auto;
    height:160%;
    margin-top: -60px;
  }
}


.shim-top {
  &.sm {
    margin-top: 10px;
  }
}
.main-hp {
  // background-image: url(/assets/slide30-cows.jpg);
  // background-repeat: no-repeat;
  height:350px !important;
  overflow: hidden;
  .callout {
      //width:100%;
      //background-color: transparent;
      // border: 0px;


      min-height:0px;
      p{
        // background-color:rgba(0,0,0,0.5);

        height:130px;
        width:100%;
        color: #fff;
        padding: 30px;
        .title{
          color: #fff;
        }

        &.lead {
          font-size: 140% !important;
          border-bottom: 1px solid #000 !important;
        }
      }
  }

  .secondary {
    margin-top: 100px;
    //width: 100%;
    opacity: .8;
  }

}

.top-bar {
  background-color: transparent !important;
}
footer {
  margin-top: -20px;
  .callout {
    min-height:0px;
  }
}


body {
  // background-color: #D0CE9F !important;
}

.callout {
  &.newsletter {
    height:60px !important;
    min-height:0px;
  }
  &.donors {
    min-height: 0px;
    height: 200px !important;
  }
}


.shim-top {
  margin-top:10px;
}

.padd-it {
  margin:20px;
}

.center-it {
  text-align: center;
}

.accord {
  li {
    border-bottom: 1px solid #ccc;
    margin-bottom: 5px;
    margin-top: 5px;
    font-size: 11px;
  }
}



.dropdown.menu {

  .submenu {
    border: 0px solid #000 !important;
    background-color: rgba(0,0,0,0.9) !important;
    color: #fff !important;
  }
}

.f-dropdown {
  outline: none !important;
}

.tabs dd > a, .tabs .tab-title > a{
    outline: none !important;
}
